*{
    font-family: sans-serif;
}
body{
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no repeat;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
}
header{
    color:#fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding:0 10px 0 10px;
}
.input{
    display: flex;
    flex-direction: column;
}
.in{
    height: 45px;
    width:87%;
    border:none;
    outline:none;
    border-radius: 30px;
    color:#fff;
    padding:0 0 0 45px;
    background: rgba(255, 255, 255, 0.1);
}
i{
    position: relative;
    top:-33px;
    left:17px;
    color:#fff;
}
::-webkit-input-placeholder{
    color:#fff;
}
.submit{
    border: none;
    border-radius:30px;
    font-size: 30px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor:pointer;
    transition: .3s;
}